<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:task="http://www.springframework.org/schema/task"   
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd 
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
	<!-- 定时任务 -->
<!-- 	<task:annotation-driven/>
	
	<task:scheduled-tasks>
		未支付的服务订单自动取消，每天晚上23:30分执行 
		<task:scheduled ref="businessQuartz" method="bespeakUnpaidRollBack" cron="0 30 23 * * ?"/> 
	</task:scheduled-tasks>	 -->
	
</beans>